<div id="wrapper">
               <h1>The OC Register Article Scraper</h1>
                <div id="articles"></div>
                <div id="comments">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Add Comment..." aria-label="Add Comment..." aria-describedby="basic-addon2">
                        <button type="submit">Add Comment</button> 
                    </div>
                </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="article.js"></script>
 </div>

{{!-- {{input id="comment" placeholder="Add a Comment..." value=comment}}
 
 <button type="submit">Add Comment</button> --}}
 